{% extends "base.html" %}

{%block title%}TürkDeniz | Künye{%endblock%}
{% block  content%}
<main>
    <article>
        <div class="container">
            <div class="blog">
                <h3 class="blog-header">Künye</h3>
                <h5>Deniz Astsubay Meslek Yüksekokulu Adına Sahibi</h5>
                <p class="blog-text">Prof.Dr. Bayram KILIÇ</p>
                <h5>Sorumlu Müdür</h5>
                <p class="blog-text">Dr.Öğr.Üyesi Öğ.Ütğm. Tuğba BOSTANCI GÜNEY</p>
                <h5>Genel Yayın Yönetmeni</h5>
                <p class="blog-text">Öğr.Gör. Bahadır Han ELSEVEN</p>
                <h5>İnceleme Kurulu(Alan Editörleri)</h5>
                <p class="blog-text">
                    <span>İk.Yzb. Özer ÇETİN</span><br>
                    <span>Dr.Öğr.Üyesi Öğ.Ütğm. Tuğba BOSTANCI GÜNEY</span><br>
                    <span>Doç.Dr. Ozan TUNA</span><br>
                    <span>Müh.Ütğm. Furkan ATİK</span><br>
                    <span>Öğ.Ütğm. Namık SARI</span><br>
                    <span>Müh.Ütğm. Sefa BAŞ</span><br>
                    <span>Öğ.Ütğm. Mehmet ÖZDAĞ</span><br>
                    <span>Öğr.Gör. Şeyma OLGUN</span><br>
                    <span>Müh.Tğm. Metin ACAR</span><br>
                    <span>Y/S Asb.Kd.Bçvş. Ümit GÜLLÜOĞLU</span><br>
                    <span>İda.Asb.Kd.Bçvş. Ömer CANBAZ</span><br>
                </p>
                <h5>Sekretarya</h5>
                <p class="blog-text">Öğ.Ütğm. Muhammed ÜNAL</p>
                <h5>Web Editörü</h5>
                <p class="blog-text">
                    <span>Müh.Ütğm. İsmail TUFAN</span><br>
                    <span>Öğ.Ütğm. Harun ŞAHİN</span><br>
                </p>
            </div>
        </div>
    </article>
</main>
{% endblock  %}}
   
