{% extends "base.html" %}
{% load static %}

{%block title%}TürkDeniz | Yayin Politikasi{%endblock%}
{% block  content%}
<main>
    <article>
        <div class="container">
            <div class="blog">
                <h3 class="blog-header">Yayın Politikası</h3>
                <p class="blog-text">
                    <ul>
                        <li>Deniz Astsubay Meslek Yüksekokulu Türk Deniz dergisi bilimsel bir dergidir. Elektronik ortamda yayımlanır.</li>
                        <li>Yayın kurulunun kararına göre özel sayı basılabilir.</li>
                        <li>Dergi editör kurulu üyeleri dergiye metin gönderebilirler fakat metnin değerlendirildiği dönemde yayım süreçlerinde görev yapamazlar.</li>
                        <li>Dergi yayım politikaları ve süreçlerinde yapılan değişiklikler derginin resmi web sitesinde ilan edilir.</li>
                        <li>Dergimize gönderilen içeriklerin ortalama değerlendirme süreleri iki aydır. Ön kontrol aşaması 10 gün, hakem değerlendirme süreci 30 gün ve düzenlenme aşaması 10 gündür</li>
                        <h5>Tüm yazarlar aşağıdaki maddeleri kabul ve taahhüt eder;</h5>
                        <li>Sunulan içeriğin yazar(lar)ın orijinal çalışması olduğunu ve intihal yapmadıklarını,</li>
                        <li>Tüm yazarların bu çalışmaya bireysel olarak katılmış olduklarını ve bu çalışma için her türlü sorumluluğu aldıklarını,</li>
                        <li>Tüm yazarların sunulan içeriğin son halini gördüklerini ve onaylarını,</li>
                        <li>İçerikte bulunan metnin, şekillerin ve dokümanların diğer şahıslara ait olan ‘’ telif hakları’’nı ihlal etmediğini kabul ve taahhüt ederler.</li>
                    </ul>
                </p>
                <h3 class="blog-header">Yazım Kuralları</h3>
                <p class="blog-text">
                    <h4>Makale Metin Şekil Esasları</h4>
                    <ol>
                        <li>TürkDeniz e-Dergisi’nin yayın dili Türkçe ve İngilizcedir. Türkçe makalelerin imla ve
                            noktalamasında Türk Dil Kurumu kurumsal web sayfasında yer alan güncel sözlük ve yazım kuralları
                            esas alınır. Gönderilen makaleler dil ve anlatım açısından bilimsel kıstaslara uygun, açık ve anlaşılır
                            olmalıdır</li>
                        <li>TürkDeniz e-Dergisi’ne gönderilen makaleler Microsoft Word programında Times New Roman
                            karakteri kullanılarak 12 punto yazılmalıdır. Dipnotlar ise 10 punto yazılmalıdır. Metnin paragraf
                            özellikleri hizalama iki yana ve satır aralığı tek iken dipnotlarda paragraf özellikleri iki yana hizalı ve 1
                            satır aralığında olmalıdır. Sayfa numaraları sayfa altında verilmelidir.</li>
                        <li>Yazar adı, makale başlığının altına yazılmalı; yazarın unvanı, görev yeri ve elektronik posta adresi
                            dipnotta (*) işareti ile 10 punto yazılarak belirtilmelidir. Diğer açıklamalar için yapılan dipnotlar sayfa
                            altında verilmelidir. Makalelerde ikili alt başlık sistemi kullanılmalıdır. Alt başlıklar koyu yazılmalı ve
                            (giriş ile sonuç dışında) rakam ile numaralandırılmalıdır.
                            </li>
                        <li>. Metnin içindeki alıntılar çift tırnak ile gösterilmeli; üç satırı geçen alıntılar yeni bir paragraf olarak,
                            soldan 1,25 cm girinti, tek aralık ve iki yana yaslı şeklinde yazılmalıdır. Alıntı içerisindeki alıntılar tek
                            tırnak içerisinde gösterilmelidir. Metin içinde vurgulanmak istenen kelimeler koyu veya altı çizili
                            yapılmamalı, çift tırnak içerisinde yazılmalıdır.</li>
                        <li>Makalelerin hazırlanmasında kullanılan kaynaklara yapılacak atıflarda aşağıdaki Yazım Kurallarına
                            uyulmalıdır. Bu kurallara riayet etmeyen çalışmalar, yazara geri iade edilecektir.
                            </li>
                        <li>Birden fazla kez aynı kaynağa atıfta bulunulduğunda; ilk atıfta künye tam olarak verilmeli, ikinci
                            atıftan sonra yazarın adı soyadı, eser ismi, sayfa numarası; tarih ve basım yeri yılı olmadan verilmelidir.</li>
                        <li>Dipnotlarda atıflar şu şekillerde verilmelidir:
                            <ul>
                                <li> Arşiv belgelerine yapılan atıflarda arşiv adı ve tasnif adı ilk kullanımda uzun haliyle, sonraki
                                    kullanımlarda kısaltılmış olarak verilmelidir. Dosya ve gömlek numaraları ile belge tarihi de aşağıdaki
                                    örneklere uygun olarak verilmelidir. <br>
                                    Genelkurmay Askeri Tarih ve Stratejik Etüt Başkanlığı Arşivi (=ATASE), Osmanlı Rus Harbi (=ORH). <br>
                                    1/7/616, 14 Mayıs 1293 [26 Mayıs 1877]. <br>
                                    ATASE, ORH. 6/137, 9 Temmuz 1293 [21 Temmuz 1877]. <br>
                                </li>
                                <li>
                                    Kitaplara yapılan atıflarda yazar adı ve soyadı, eser adı, (varsa cilt numarası), (varsa çeviren),
                                    yayınevi, yayımlandığı yer yayımlandığı tarih ve sayfa numarası aşağıdaki örneklere uygun olarak
                                    sırayla verilmelidir. <br>
                                    Tek yazarlı kitap: <br>
                                    Nikolai Epanchin, Operations of General Gurko’s Advance Guard in 1877, Londra 1900, s. 172-174. <br>
                                    İki yazarlı kitap: <br>
                                    Gültekin Yıldız ve Cevat Şayin, Osmanlı Askerî Tarihini Araştırmak: Yeni Kaynaklar Yeni <br>
                                    Yaklaşımlar, Tarih Vakfı Yurt Yayınları, İstanbul 2012, s. 11-14. <br>
                                    Çok yazarlı kitap: <br>
                                    Mustafa Aydın vd., Uluslararası İlişkilerde Çatışmadan Güvenliğe, İstanbul Bilgi Üniversitesi <br>
                                    Yayınları, İstanbul 2015, s. 79. <br>
                                    Çeviri kitap: <br>
                                    Carl Schmitt, Kara ve Deniz, çev. Gültekin Yıldız, Vakıfbank Kültür Yayınları, İstanbul 2018, s. 61. <br>
                                    Çok ciltli kitap: <br>
                                    Henry Montague Hozier, Russo-Turkish War: Including an Account of the Rise and Decline, c. 4, <br>
                                    William Mackenzie, Londra 1878, s. 633. <br>
                                    <li>
                                        Makalelere yapılan atıflarda yazar adı ve soyadı, “makale adı” (varsa çeviren), yayımlandığı süreli
                                        yayının adı, sayı, yayımlandığı yıl ve cilt numarası, alıntının yapıldığı sayfa numarası aşağıdaki
                                        örneklere uygun olarak sırayla verilecektir. <br>
                                        Tek yazarlı makale: <br>
                                        Necati Tacan, “1877-1878 Osmanlı-Rus Seferinde Türk Sevk ve İdaresinde Sevkulceyşi Hatalar: <br>
                                        Başkomutanlık”, Askerî Mecmua, Sayı 107 (Aralık 1937), c. 8, s. 755-759. <br>
                                        Editöryal kitap bölümü: <br>
                                        Ahmet Sefa Özkaya, “Kültür Tasnifi ve Türk Askerî Kültürüne Giriş”, Türk Askerî Kültürü: Tarih,
                                        Strateji, İstihbarat, Teşkilat, ed. Ahmet Sefa Özkaya, Kronik Yayınları, İstanbul 2019, s. 20. <br>
                                        Bildiri: <br>
                                        Uğur Demir, “Üsküdar’da Avrupalı Bir Diplomat Avusturya Elçisi Virmont Kontu Damian Hugo’nun
                                        1719’da Ağırlanması”, Uluslararası Üsküdar Sempozyumu 21-24 Kasım 2014, c. 8, (İstanbul 2015), s.
                                        223. <br>
                                        Ansiklopedi Maddesi: <br>
                                        Kemal Beydilli, “Süleyman Hüsnü Paşa”, DİA, c. 38, s. 90-91, İstanbul 2010. <br>
                                        <li>
                                            . Tezlere yapılan atıflarda, yayımlanmamış tezlerin başlıkları için italik kullanılmayacaktır. Yazar
                                            adı ve soyadı, tezin adı, tezin derecesi, tezin yapıldığı kurum ve enstitü, yapıldığı yer ve tarih, sayfa
                                            numarası aşağıdaki şekilde verilecektir. Ahmet Taşdemir, An Example of Strategic Command and
                                            Coordination Problem in the Ottoman Army: The Battle of Shipka during the Ottoman-Russian War of
                                            1877-1878, Orta Doğu Teknik Üniversitesi Sosyal Bilimler Enstitüsü Yüksek Lisans Tezi, Ankara 2021,
                                            s. 150. <br>

                                        </li>
                                    </li>
                                </li>
                            </ul>
                        </li>
                        <li>Kaynakça’da yer alan künyeler yazarın soyadının büyük harfle başlamasıyla verilir. Geri kalan
                            hususlarda dipnot yöntemi takip edilir. Kitaplarda sayfa sayısı belirtilmez. Eser içinde yer alan bölümler
                            için sayfa aralığı belirtilir. Kaynakça’da yayınlar şöyle sıralanır: <br>
                            Arşiv Belgeleri <br>
                            Kaynak Eserler <br>
                            Araştırma ve İnceleme Eserler Süreli Yayınlar (Gazete) <br>
                            Raporlar <br>
                            Online/İnternet kaynakları <br>
                        </li>
                        <li>Ekler yazının sonunda verilmeli ve altında belgenin içeriği ve kaynağına dair kısa bilgi yer almalıdır.
                            Tablo, Grafik ve şekiller, Ekler kısmında verilebileceği gibi metin içerisine de yerleştirilebilir. Metin
                            içerisinde verilmeleri durumunda tablo ve şekiller kendi içinde sıralanarak numaralandırılmalı (Tablo:
                            1, Şekil: 2 gibi) ve gerek bu numara gerekse tablo veya şeklin içeriğine dair tanıtıcı başlık tablo ve şeklin
                            üst orta kısmında verilmelidir. Tablo, şekil, grafik ve resim için alıntı yapılmış ise mutlaka kaynak
                            belirtilmelidir.
                        </li>
                        <li>
                            Aday makale metinlerinin sonlarında, alfabetik sıra ve alıntı türüne (kitaplar, makaleler, internet
                            kaynakları vs.) göre tasniflenmiş kaynakça yer almadır. Kaynakça düzenlenirken yazarın önce soyadı
                            (BÜYÜK HARFLERLE) ve ardından adı yazıldıktan sonra, metin içindeki dipnotlarda yer alan bilgiler
                            aynen aktarılmalıdır.
                        </li>
                    </ol>
                </p>
               <p>
                Makale yazım şablonuna erişmek için <a href="{% static "dosya/sablon.pdf" %}">tıklayınız</a>
               </p>
            </div>
        </div>
    </article>
</main>
{% endblock  %}}
   
